<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250524748228-2els3qld2l0ilm9lhdth5l39v2nb7lt1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250524748228-2els3qld2l0ilm9lhdth5l39v2nb7lt1</string>
	<key>API_KEY</key>
	<string>AIzaSyBRT0OZkXpzr3bf1Z-vvxHTAOjN1DUKDQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>250524748228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.terry.SNS</string>
	<key>PROJECT_ID</key>
	<string>snsapp-22487</string>
	<key>STORAGE_BUCKET</key>
	<string>snsapp-22487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250524748228:ios:35ab439e4f89223e09fc91</string>
	<key>DATABASE_URL</key>
	<string>https://snsapp-22487.firebaseio.com</string>
</dict>
</plist>